* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-current-geo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: teal;
}

.App-weather-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-weather-input {
  height: 24px;
  border-top: 1px solid #ccc;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.App-weather-button {
  height: 24px;
  border-top: 1px solid teal;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  border-left: none;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: teal;
}